<mat-toolbar color="primary" class="nav-bg" style="z-index: -1;"></mat-toolbar>
<mat-toolbar color="primary" class="container" style="margin: 0 auto;">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

    <span routerLink="/home">Sample App</span>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="view-desktop">
      <span routerLink="/sample-page-1" routerLinkActive="active">Sample Page 1</span>
      <span routerLink="/sample-page-2">Sample Page 2</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="view-mobile">
      <button (click)="showMenuMobile()" mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="showMobileMenu" class="view-mobile">
  <mat-toolbar-row routerLink="/sample-page-1">Sample Page 1</mat-toolbar-row>
  <mat-toolbar-row routerLink="/sample-page-2">Sample Page 2</mat-toolbar-row>
  <mat-toolbar-row>Sample Page 3</mat-toolbar-row>
</mat-toolbar>
