<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Example App</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/sample-page-1" routerLinkActive="active"><a class="nav-link waves-light" mdbWavesEffect>Sample Page 1</a></li>
      <li class="nav-item" routerLink="/sample-page-2" ><a class="nav-link waves-light" mdbWavesEffect>Sample Page 2</a></li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
